<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --negro: rgb(36, 34, 34);
    --azul: rgb(26, 161, 179);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* navegation */
nav {
    background: var(--negro);
}

nav .container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: white;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 3px;
    transition: .3s linear;
    cursor: pointer;
}

.fa-code {
    transition: all .8s linear;
}

.logo:hover .fa-code {
    transform: rotate(200deg);
}

.logo:hover {
    color: var(--azul);
}

/* ITEMS */
nav .container ul {
    display: flex;
    list-style: none;
}

nav .container ul li {
    margin-left: 20px;
}

nav .container ul li a {
    display: block;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    opacity: .6;
    transition: all .3s linear;
    height: 30px;
}

nav .container ul li a:hover {
    opacity: 1;
    border-bottom: 4px solid var(--azul);
}

/* toggle menu */
.toggle-menu {
    color: white;
    padding: 10px;
    cursor: pointer;
    display: none;
}

#hero {
    background-image: url(../../img/build.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw * 0.390625);
    max-width: 1280px;
    max-height: 500px;
    filter: blur(.2px);
    background-color: #2B6CB0;
    opacity: 1;
    font-family: 'Roboto Mono';
}

#hero>div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: white;
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 700;
}

.hero-title span {
    border-bottom: 5px solid white;
}

.hero-btn_hover {
    text-decoration: none;
    border: none;
    font-family: 'Lato';
    font-size: .9rem;
    font-weight: 600;
    color: #4299E1;
    background-color: white;
    margin-top: 3em;
    padding: .7rem 1.7rem;
}

.hero-btn_hover:hover {
    transition: .5s;
    background-color: #3182CE;
    color: white;
}

.hero-btn_hover:not(:hover) {
    transition: .6s;
}

.service-card {
    background-color: #f2f2f2;
    width: 75%;
    height: 250px;
    margin: 0 auto;
    display: flex;
}

.card {
    width: 25%;
    background-color: #EBF8FF;
}

.card:hover {
    transition: .6s;
    transform: scale(1.1);
    box-shadow: -11px 13px 19px 0px rgba(158, 164, 169, 1);
}

.card:not(:hover) {
    transition: .6s;
}

.icon i {
    color: #2A4365;
}

.icon {
    height: 40%;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    padding: 1em;
    font-family: 'Lato';
}

.card-title h3 {
    margin-bottom: .8rem;
    color: #212121;
    font-weight: 600;
}

.card-title p {
    color: #9EA4A9;
    font-size: .9em;
}

#prox {
    margin-top: 2em;
}




/* responsive menu */
@media screen and (max-width:810px) {
    .logo {
        color: var(--azul);
    }

    .toggle-menu {
        display: block;
    }

    nav .container ul {
        position: fixed;
        top: 65px;
        left: 0;
        background: var(--negro);
        width: 60vw;
        height: 90vh;
        flex-direction: column;
        padding: 40px;
        transition: all .5s linear;
        transform: scale(0);
    }

    nav .container ul li {
        margin-bottom: 30px;
    }

    nav .container ul li a {
        font-size: 25px;
        letter-spacing: 2px;
        opacity: 1;

    }

    nav .container ul li a:hover {
        border: none;
    }

    .sp {
        margin-right: 50px;
    }
}

@media screen and (max-width:600px) {
    .sp {
        margin-right: 5px;
    }
}

@media screen and (max-width:450px) {
    .sp {
        display: none;
    }
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#hero {
    background-image: url(../img/build.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw * 0.390625);
    max-width: 1280px;
    max-height: 500px;
    filter: blur(.2px);
    background-color: #2B6CB0;
    opacity: 1;
    font-family: 'Roboto Mono';
}

#hero>div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: white;
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 700;
}

.hero-title span {
    border-bottom: 5px solid white;
}

.hero-btn_hover {
    text-decoration: none;
    border: none;
    font-family: 'Lato';
    font-size: .9rem;
    font-weight: 600;
    color: #4299E1;
    background-color: white;
    margin-top: 3em;
    padding: .7rem 1.7rem;
}

.hero-btn_hover:hover {
    transition: .5s;
    background-color: #3182CE;
    color: white;
}

.hero-btn_hover:not(:hover) {
    transition: .6s;
}

.service-card {
    background-color: #f2f2f2;
    width: 75%;
    height: 250px;
    margin: 0 auto;
    display: flex;
}

.card {
    width: 25%;
    background-color: #EBF8FF;
}

.card:hover {
    transition: .6s;
    transform: scale(1.1);
    box-shadow: -11px 13px 19px 0px rgba(158, 164, 169, 1);
}

.card:not(:hover) {
    transition: .6s;
}

.icon i {
    color: #2A4365;
}

.icon {
    height: 40%;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    padding: 1em;
    font-family: 'Lato';
}

.card-title h3 {
    margin-bottom: .8rem;
    color: #212121;
    font-weight: 600;
}

.card-title p {
    color: #9EA4A9;
    font-size: .9em;
}

#prox {
    margin-top: 2em;
}

/* section nosotros */
.nosotros{
    display: grid;
    grid-template-columns: 50%;
    height: 60vh;
    background: rgb(53, 52, 54);
    background-image: url(https://cdn.pixabay.com/photo/2017/06/26/13/03/webdesigner-2443766_960_720.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.nosotros div{
    padding: 50px;
    background: rgba(151, 238, 216, 0.678);
    display: flex;
    flex-direction: column;
    flex-grow: 20px;
    justify-content: center;
    font-family: 'roboto',sans-serif;
    cursor: default;
}
.nosotros div h1{
    font-size:35px;
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
}
.nosotros div p{
    font-size: 26px;
    line-height: 30px;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    color: rgb(71, 70, 70);
}
.btn{
  font-size: 18px;
  outline: none;
  border-radius: 3px;
  border: 1px solid rgb(56, 54, 54);
  padding: 10px;
  cursor: pointer;
  transition: .4s linear; 
  letter-spacing: 2px; 
}
.btn-nosotros{
    width: 30%;
}
.btn-nosotros:hover{
    background:var(--azul);
    transform: scale(1.2);
}
.btn-nosotros:active{
    transform: scale(.9);
    opacity: .8;
}