* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --negro: rgb(36, 34, 34);
    --azul: rgb(26, 161, 179);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* navegation */
nav {
    background: var(--negro);
}

nav .container {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: white;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 3px;
    transition: .3s linear;
    cursor: pointer;
}

.fa-avianex {
    transition: all .8s linear;
}

.logo:hover .fa-avianex {
    transform: rotate(200deg);
}

.logo:hover {
    color: var(--azul);
}

/* ITEMS */
nav .container ul {
    display: flex;
    list-style: none;
}

nav .container ul li {
    margin-left: 20px;
}

nav .container ul li a {
    display: block;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    opacity: .6;
    transition: all .3s linear;
    height: 30px;
}

nav .container ul li a:hover {
    opacity: 1;
    border-bottom: 4px solid var(--azul);
}

/* toggle menu */
.toggle-menu {
    color: white;
    padding: 10px;
    cursor: pointer;
    display: none;
}

#hero {
    background-image: url(../../img/build.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw * 0.390625);
    max-width: 1280px;
    max-height: 500px;
    filter: blur(.2px);
    opacity: 1;
    font-family: 'Roboto Mono';
}

#hero>div {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    color: white;
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 700;
}

.hero-title span {
    border-bottom: 5px solid white;
}

.hero-btn_hover {
    text-decoration: none;
    border: none;
    font-family: 'Lato';
    font-size: .9rem;
    font-weight: 600;
    color: #4299E1;
    background-color: white;
    margin-top: 3em;
    padding: .7rem 1.7rem;
}

.hero-btn_hover:hover {
    transition: .5s;
    background-color: #3182CE;
    color: white;
}

.hero-btn_hover:not(:hover) {
    transition: .6s;
}

.service {
    margin-bottom: 2em;
}

.service-card {
    background-color: #f2f2f2;
    width: 75%;
    height: 250px;
    /* height: auto; */
    margin: 0 auto;
    display: flex;
}

.card {
    width: 25%;
    background-color: #EBF8FF;
}

.card:hover {
    transition: .6s;
    transform: scale(1.1);
    box-shadow: -11px 13px 19px 0px rgba(158, 164, 169, 1);
}

.card:not(:hover) {
    transition: .6s;
}

.card:hover .hero-icon {
    transition: .6s;
    color: #2C5282;
}

.hero-icon {
    color: #2A4365;
}

.icon {
    height: 40%;
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    padding: 1em;
    font-family: 'Lato';
}

.card-title h3 {
    margin-bottom: .8rem;
    color: #212121;
    font-weight: 600;
}

.card-title p {
    color: #9EA4A9;
    font-size: .9em;
}

#prox {
    margin-top: 2em;
}

.footer {
    height: 200px;
    display: flex;
    background-color: #EBF8FF;
}

.footer-social {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-social ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-social li {
    list-style: none;
}

.footer-social a {
    display: block;
}

.footer-icon {
    font-size: 5rem;
    color: #2A4365;
}

.footer-icon:hover {
    transition: .6s;
    color: #2C5282;
}

.footer-icon:not(:hover) {
    transition: .6s;
}

.footer-contact {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact input {
    padding: .4em 1.4em;
}

.footer-contact input:focus {
    outline: none;
    border: 2px solid #2A4365;
}

.footer-contact button {
    font-family: 'Lato TR';
    font-weight: 700;
    padding: .6em 1.7em;
    border: none;
    background-color: #EBF8FF;
    color: #2A4365;
    border: 2px solid #2A4365;
    cursor: pointer;
}

.footer-contact button:hover {
    transition: .6s;
    background-color: #2A4365;
    color: white;
}

.footer-contact button:not(:hover) {
    transition: .7s;
}


@media screen and (max-width:1200px) {
    .service-card {
        width: 85%;
    }
}

@media screen and (max-width:992px) {
    .hero-title {
        font-size: 2.6rem;
    }

    .service-card {
        width: 90%;
    }

    .icon {
        height: 30%;
        font-size: 2.3rem;
    }

    .card-title h3 {
        margin-bottom: .8rem;
        font-size: 1.1rem;
    }

    .card-title p {
        font-size: .8em;
    }
}

@media screen and (max-width:768px) {
    /* prueba*/
    #hero {
        background-image: url(../../img/build_tab.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vw * 0.78125);
        max-width: 768px;
        max-height: 600px;
    }

    .hero-title {
        font-size: 2.7rem;
    }

    .hero-title span {
        border-bottom: 3px solid white;
    }

    .hero-title {
        font-size: 2.6rem;
    }

    .service-card {
        width: 100%;
    }

    .footer {
        height: 200px;
        flex-direction: column;
    }

    .footer-social {
        width: 100%;
    }

    .footer-icon {
        font-size: 4rem;
    }

    .footer-contact {
        width: 100%;
        padding: 1em;
    }

    .footer-contact input {
        padding: .4em 1.4em;
    }

    .footer-contact input:focus {
        border: 2px solid #2A4365;
    }

    .footer-contact button {
        border: 2px solid #2A4365;
    }
}

@media screen and (max-width:576px) {
    .hero-title {
        font-size: 1.9rem;
    }

    .hero-title span {
        border-bottom: 3px solid white;
    }

    .service-card {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .card-title h3 {
        margin-bottom: .8rem;
        font-size: 1rem;
    }

    .card-title p {
        font-size: .7em;
    }
}


@media screen and (max-width:420px) {
    .hero-title {
        font-size: 1.4rem;
    }

    .hero-title span {
        border-bottom: 1px solid white !important;
    }

    .card {
        width: 100%;
    }

    .icon {
        padding: .3em;
    }

    .card-title {
        padding: 1em;
    }

    .card-title p {
        font-size: .9em;
    }

    .footer-icon {
        font-size: 3rem;
    }

    .footer-contact {
        padding: .9em;
    }

    .footer-contact input {
        padding: .3em .9em;
    }

    .footer-contact button {
        padding: .3em 1.3em;
    }
}


/* responsive menu */
@media screen and (max-width:810px) {
    .logo {
        color: var(--azul);
    }

    .toggle-menu {
        display: block;
    }

    nav .container ul {
        position: fixed;
        top: 65px;
        left: 0;
        background: var(--negro);
        width: 60vw;
        height: 90vh;
        flex-direction: column;
        padding: 40px;
        transition: all .5s linear;
        transform: scale(0);
    }

    nav .container ul li {
        margin-bottom: 30px;
    }

    nav .container ul li a {
        font-size: 25px;
        letter-spacing: 2px;
        opacity: 1;

    }

    nav .container ul li a:hover {
        border: none;
    }

    .sp {
        margin-right: 50px;
    }
}

@media screen and (max-width:600px) {
    .sp {
        margin-right: 5px;
    }
}

@media screen and (max-width:450px) {
    .sp {
        display: none;
    }
}